// Colors
$white: #fff;
$bikmo-green: #3cf1c6;
$bikmo-dark: #1a1a1a;
$bikmo-off-white: #f2f2f2;
$bikmo-grey: #808080;
$magenta: #ff0080;
$gold: #f2c94c;
$background1: #e6e6e6;

// Breakpoints
$breakpoint-medium: 768px;
$breakpoint-large: 1200px;
$breakpoint-extra: 1920px;
$breakpoint-medium-max: 767px;
$breakpoint-large-max: 1339px;
$breakpoint-extra-max: 1919px;
